.file-manager {
	ul {
		@include unset-list;
		li {
			a {
				font-size: .9em;
				display: block;
				padding: 1em 1.6em;
				color: $color-mid;
				text-decoration: none;
			}
			&.active a,
			&:hover a {
				background: lighten($color-light, 8%);
				color: $color-dark;
				border-right: 6px solid $color-deg;
			}
		}
	}
}