.header {
	position: relative;
	z-index: 999;
	@include clearfix;
	background: $color-dark;
	color: $color-mid;
	text-transform: uppercase;
	ul {
		@include destroy-list;
		li { 
			font-size: .75em;
			border-color: lighten($color-dark, 20%);
			border-style: solid;
			border-width: 0;
			line-height: 1.75em;
		}
	}
	a {
		display: block;
		padding: .75em 1.25em;
		color: $color-mid;
		text-decoration: none;
		&:hover { 
			color: lighten($color-mid, 20%);
			background: lighten($color-dark, 5%);
		}
	}
	label { cursor: pointer; }
}

.sg-controls {
	float: left;
	ul li { 
		border-right-width: 1px; 
		&:last-child { border-right-width: 0; }
	}
	.sg-current-size { padding: .75em 1.5em; }
	.sg-input {
		padding: 0;
		border: 0;
		background: $color-dark;
		transition: all 0.2s ease-out;
		color: gray;
		width: 35px;
		text-align: right;
		&:hover, 
		&:focus { background: $color-white; }
	}
}
.menu {
	float: right;
	ul li { 
		border-left-width: 1px; 
		&:first-child { border-left-width: 0; }
	}
}