@import "normalize";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/inline-block";

@import "Partials/utilities";
@import "Partials/branding";

@import "Partials/Components/header";
@import "Partials/Components/preview";
@import "Partials/Components/panel";
@import "Partials/Components/file-manager";

body {
    font-size: 1em;
    font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    color: $color-dark;
    background: $color-light;
}

h1 {
	font-size: 1.4em;
	margin: 0;
}
