<section class="panel file-manager active" id="file-manager">
    <h1>Emails</h1>
    <ul>
        <li class="active">
        	<a class="file-name" href="email.html">Welcome 1</a>
        	<div class="options-bar">
        		<a class="icon-eye" href=""></a>
        		<a class="icon-publish" href=""></a>
        		<a class="properties-trigger icon-cog" href=""></a>
        	</div>
        <li>
        	<a class="file-name" href="email2.html">Welcome 2</a>
        	<div class="options-bar">
        		<a class="icon-eye" href=""></a>
        		<a class="icon-publish" href=""></a>
        		<a class="properties-trigger icon-cog" href=""></a>
        	</div>
    </ul>
</section>