<div class="content-editor">
    <label for="content">Text</label>
    <input type="text" id="content" value="Button">
</div>

<div class="link-editor">
    <label for="Link">Link</label>
    <input id="Link" type="url" placeholder="http://www.example.com">
</div>

<div class="color-editor">
    <label for="color">Text Color</label>
    <input id="color" type="color" value="#ffffff">
</div>

<div class="color-editor">
    <label for="color">Background Color</label>
    <input id="color" type="color" value="#000000">
</div>