<div class="content-editor">
    <label for="content">Content</label>
    <textarea id="content">This is some text.</textarea>
</div>

<div class="content-editor">
    <label for="content">Text</label>
    <input type="text" id="content" value="Button">
</div>

<div class="content-editor">
    <label for="content">Alt Text</label>
    <input type="text" id="content" value="Alt Text">
</div>

<div class="link-editor">
    <label for="ImageUrl">Image Location</label>
    <input id="ImageUrl" type="url" placeholder="http://www.example.com">
</div>

<div class="link-editor">
    <label for="Link">Link [Optional]</label>
    <input id="Link" type="url" placeholder="http://www.example.com">
</div>

<div class="link-editor">
    <label for="Link">Link</label>
    <input id="Link" type="url" placeholder="http://www.example.com">
</div>

<div class="font-size-editor">
    <label for="font-size">Sm Font Size</label>
    <input id="font-size" type="number" value="20" step="1" min="1"> px
</div>

<div class="font-size-editor">
    <label for="font-size">Lg Font Size</label>
    <input id="font-size" type="number" value="20" step="1" min="1"> px
</div>

<div class="color-editor">
    <label for="color">Text Color</label>
    <input id="color" type="color" value="#84bd00">
</div>

<div class="color-editor">
    <label for="color">Background Color</label>
    <input id="color" type="color" value="#84bd00">
</div>