<div class="link-editor">
    <label for="ImageUrl">Image Location</label>
    <input id="ImageUrl" type="url" placeholder="http://www.example.com">
</div>

<div class="content-editor">
    <label for="content">Alt Text</label>
    <input type="text" id="content" value="Alt Text">
</div>

<div class="link-editor">
    <label for="Link">Link [Optional]</label>
    <input id="Link" type="url" placeholder="http://www.example.com">
</div>