<div class="content-editor">
    <label for="content">Content</label>
    <textarea id="content">This is some text.</textarea>
</div>

<div class="font-size-editor">
    <label for="font-size">Sm Font Size</label>
    <input id="font-size" type="number" value="20" step="1" min="1"> px
</div>

<div class="font-size-editor">
    <label for="font-size">Lg Font Size</label>
    <input id="font-size" type="number" value="20" step="1" min="1"> px
</div>

<div class="color-editor">
    <label for="color">Text Color</label>
    <input id="color" type="color" value="#84bd00">
</div>