---
layout: false
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Crocs</title>

    <style>
        
        body {margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;} img{line-height:100%; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} a img{border: none;} #backgroundTable {margin:0; padding:0; width:100% !important; } a, a:link{color:#2A5DB0; text-decoration: underline;} table td {border-collapse:collapse;} span {color: inherit; border-bottom: none;} span:hover { background-color: transparent; }

    </style>
    <style>
        
        @media only screen and (max-width: 605px){td[class=body] .nav{padding:3px 0 8px 0 !important}td[class=body] .nav table{text-align:center}td[class=body] .nav .item{display:inline-block;padding:0 !important}td[class=body] .nav .item a{display:block;padding:7px 14px}}@media only screen and (max-width: 605px){td[class=body] .address{padding:10px 14px 20px !important}}@media only screen and (max-width: 505px){td[class=body] .footer{padding:20px 0 10px 0 !important}td[class=body] .footer table{width:100%}td[class=body] .footer>table>tbody>tr>td{padding-top:0 !important}td[class=body] .footer>table>tbody>tr:first-child>td{padding-bottom:0 !important}td[class=body] .footer .col{display:block}td[class=body] .footer .col .item{width:50%;text-align:left;padding:10px 14px !important;vertical-align:top}}@media only screen and (max-width: 405px){td[class=body] .header{padding:24px !important}td[class=body] .header .header_logo{float:left}td[class=body] .header .menu_button{display:block !important;position:relative;float:right;height:29px;width:30px}td[class=body] .header .menu_button:before{position:absolute;display:block;border-bottom:13px double #84BD00;border-top:4px solid #84BD00;content:"";height:5px;width:30px;margin-top:4px}td[class=body] .nav{padding:0 !important}td[class=body] .nav table{text-align:left;width:100%}td[class=body] .nav .item{display:block;border-bottom:1px solid #333}td[class=body] .nav .item:first-child{border-top:1px solid #333}td[class=body] .nav .item a{padding:14px}td[class=body] .nav .item a:after{content:url("http://image.crocs-email.com/lib/fe591570726001747c17/m/1/nav_arrow.png");float:right}td[class=body] .social{padding:10px 4px 18px 4px !important}td[class=body] .social .item{padding:0 10px !important}td[class=body] .disclaimer td{text-align:left}td[class=body] .address{text-align:left}td[class=body] .main{padding-top:0 !important}td[class=body] .drop{display:table-footer-group}td[class=body] .rise{display:table-header-group}}@media only screen and (max-width: 575px){td[class=body] .main .col{display:block;width:100%}td[class=body] .main .button_container{padding-left:24px !important}td[class=body] .main .primary td{width:auto}td[class=body] .main .primary .hero{display:none}td[class=body] .main .social_callout{width:100%}td[class=body] .main .social_callout td{text-align:left}td[class=body] .main .social_callout .wrapper{padding:20px 24px 20px 24px !important}td[class=body] .main .social_callout .item{padding:14px 5px 0 5px !important}td[class=body] .main .social_callout .item:first-child{padding-left:0 !important}td[class=body] .main .social_callout .item img{max-width:100%;height:auto !important}td[class=body] .main .coupon_code .headline{padding-bottom:20px;max-width:420px}td[class=body] .main .coupon_code td{text-align:left}td[class=body] .main .crocs_club .message{padding-top:20px}td[class=body] .main .crocs_club .message>table>tbody>tr>td{padding-left:0 !important}td[class=body] .main .welcome1 .primary .body{font-size:18px !important}td[class=body] .main .welcome2 .primary .headline{font-size:36px !important;line-height:40px !important}td[class=body] .main .anniversary .anniversary_primary>table{width:100%}td[class=body] .main .anniversary .anniversary_primary .message,td[class=body] .main .anniversary .anniversary_primary .candles{display:block;width:100%}td[class=body] .main .anniversary .anniversary_primary .message td{max-width:400px}td[class=body] .main .anniversary .coupon_code table,td[class=body] .main .anniversary .coupon_code td{text-align:center}td[class=body] .main .anniversary .coupon_code table{margin:0 auto}td[class=body] .main .reengagement1 .primary .headline,td[class=body] .main .reengagement3 .primary .headline{font-size:45px !important}td[class=body] .main .reengagement3 .primary .headline{line-height:48px !important}td[class=body] .main .asc .primary .headline,td[class=body] .main .post_purchase .primary .headline{font-size:36px !important;line-height:40px !important}}@media only screen and (max-width: 515px){td[class=body] .main .post_purchase .products{width:100%}td[class=body] .main .post_purchase .products table{width:100%}td[class=body] .main .post_purchase .products .item{display:block}td[class=body] .main .post_purchase .products .item .image{width:35%;padding-right:5% !important}td[class=body] .main .post_purchase .products .item .details{width:60%}td[class=body] .main .post_purchase .products .item .details .cta table{width:auto}}@media only screen and (max-width: 425px){td[class=body] .main .upsell .item{display:block}}.hero img,.upsell .item img,.candles img{max-width:100% !important;height:auto !important}.footer a{color:#84bd00}.footer a:hover{color:#608a00 !important}.nav a:hover{color:#84bd00 !important}


    </style>
    
    <!--[if !mso]><!-->
    <style>
        /** Fonts **/
        @font-face {
            font-family: 'Museo';
            font-style: normal;
            font-weight: 700;
            src: local('Open Sans'), local('OpenSans'), url(http://demandware.edgesuite.net/aadb_prd/on/demandware.static/Sites-crocs_us-Site/-/default/v1371028167976/css/museosansrounded-700-webfont.woff) format('woff');
        }
        td {
            font-family: 'Museo','arial rounded',arial,sans-serif !important;
        }
    </style>
    <!--<![endif]-->
</head>

<body style="background: #fff;font-family:Arial, Helvetica, sans-serif; font-size:1em;">
    <table id="backgroundTable" width="100%" cellspacing="0" cellpadding="0" border="0" style="background:#fff;">
        <tr>
            <td class="body" align="center" valign="top" style="background:#fff;" width="100%">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="header" width="605" align="center" style="padding: 24px 0; border-bottom: 5px solid #222;">
                            <a class="header_logo" href="http://www.crocs.com/home/homepage,default,pg.html" alias="header_logo">
                                <img src="http://image.crocs-email.com/lib/fe591570726001747c17/m/1/crocs_global_logo.png" alt="Crocs" style="display: block; border: 0;" />
                            </a>
                            
                            <a class="menu_button" href="#nav" alias="menu_button" style="display: none;"></a>
                            
                        </td>
                    </tr>

                    
                    <tr class="drop">
    <td id="nav" class="nav" width="605" align="center" style="background: #222; padding: 10px 0 15px 0;">
        <table cellpadding="0" cellspacing="0">
            <tr>
                
                <td class="item" style="font-family: arial,sans-serif; font-size: 15px; font-weight: bold; padding: 0 9px;">
                    <a href="http://www.crocs.com/newest-crocs/new-arrivals,default,sc.html?sz=50" style="text-decoration: none; color: #fff;">new arrivals</a>
                </td>
                
                <td class="item" style="font-family: arial,sans-serif; font-size: 15px; font-weight: bold; padding: 0 9px;">
                    <a href="http://www.crocs.com/crocs-women/women,default,sc.html" style="text-decoration: none; color: #fff;">women</a>
                </td>
                
                <td class="item" style="font-family: arial,sans-serif; font-size: 15px; font-weight: bold; padding: 0 9px;">
                    <a href="http://www.crocs.com/crocs-men/men,default,sc.html" style="text-decoration: none; color: #fff;">men</a>
                </td>
                
                <td class="item" style="font-family: arial,sans-serif; font-size: 15px; font-weight: bold; padding: 0 9px;">
                    <a href="http://www.crocs.com/crocs-girls/girls,default,sc.html" style="text-decoration: none; color: #fff;">girls</a>
                </td>
                
                <td class="item" style="font-family: arial,sans-serif; font-size: 15px; font-weight: bold; padding: 0 9px;">
                    <a href="http://www.crocs.com/crocs-boys/boys,default,sc.html" style="text-decoration: none; color: #fff;">boys</a>
                </td>
                
                <td class="item" style="font-family: arial,sans-serif; font-size: 15px; font-weight: bold; padding: 0 9px;">
                    <a href="http://www.crocs.com/crocs-shoes-sale/outlet,default,sc.html" style="text-decoration: none; color: #fff;">sale</a>
                </td>
                
                <td class="item" style="font-family: arial,sans-serif; font-size: 15px; font-weight: bold; padding: 0 9px;">
                    <a href="http://www.crocs.com/jibbitz-by-crocs-shoe-charms/jibbitz,default,sc.html" style="text-decoration: none; color: #fff;">jibbitz</a>
                </td>
                
                <td class="item" style="font-family: arial,sans-serif; font-size: 15px; font-weight: bold; padding: 0 9px;">
                    <a href="http://www.crocs.com/eco-friendly-surfer-shoes-and-sandals/ocean-minded,default,sc.html" style="text-decoration: none; color: #fff;">ocean minded</a>
                </td>
                
            </tr>
        </table>
    </td>
</tr>
                    

                    <tr class="rise">
                        <td class="main" width="605" align="center" style="padding-top: 5px;">
                            <table cellpadding="0" cellspacing="0">
    <tr>
        <td width="605" align="center">
            <table cellpadding="0" cellspacing="0" class="dashedBorder welcome1">
    <tr>
        <td class="primary" width="605" align="left" style="padding-bottom: 5px;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="message" width="355" align="left" valign="middle" style="background: #fff;">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="padding: 14px 0 34px 0;" valign="top">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="355" align="left" valign="top">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="headline" align="left" style="font-family: arial,sans-serif; font-size: 60px; color: #84BD00; padding: 0 24px;" data-editable="">
                                                            welcome.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="body" align="left" style="font-family: arial,sans-serif; font-size: 16px; line-height: 26px !important; color: #666; padding: 10px 24px 30px 24px;" data-editable="">
                                                            Thanks for signing up —exclusive email offers and Crocs product news is heading your way. <br /><br />Let the fun begin.
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="button_container" width="355" align="left">
                                                <table cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" style="font-family: arial,sans-serif; font-size: 20px; font-weight: bold; background: #84bd00; padding: 0 8px 0 24px;">
            <a href="http://www.crocs.com/home/homepage,default,pg.html" style="color: #fff; text-decoration: none;">shop now</a>
        </td>
        <td>
            <a href="http://www.crocs.com/home/homepage,default,pg.html"><img src="http://image.crocs-email.com/lib/fe591570726001747c17/m/1/button_large_green.png" alt="" style="display: block; border: 0;" /></a>
        </td>
    </tr>
</table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="hero" width="250" align="right" valign="bottom">
                        <img src="http://image.crocs-email.com/lib/fe591570726001747c17/m/1/welcome1_fpo.jpg" alt="" style="display: block; border: 0;" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
        </td>
    </tr>
    <tr>
        <td width="605" align="center">
            <div style="display: none;">
    %%[ /* Coupon Script  */
     Var @row, @couponCode, @errorDesc
     Set @row = ClaimRow("Anniversary Coupon Codes", "IsClaimed", "JobID", JobID, "ListID", ListID, "BatchID", _JobSubscriberBatchID, "SubscriberID", SubscriberID, "EmailAddress", EmailAddr)

     If Not Empty(@row) Then
       If _messagecontext == "PREVIEW" then
         Set @couponCode = "XX-XXX00XXXXXX0"
       Else
         Set @couponCode = Field(@row,"CouponCode")
       Endif
        Else
       Set @errorDesc = "Failed to retrieve coupon code!"
       RaiseError(@errorDesc, 0, 0, 0, 1)
     Endif
    /*  */ ]%%
</div>
<table cellpadding="0" cellspacing="0" class="dashedBorder">
    <tr>
        <td style="padding-bottom: 5px;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="coupon_code" width="605" align="left" style="background: #87189d;">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="padding: 18px 24px 24px;">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="col headline" width="327" align="left" valign="middle" style="font-family: arial,sans-serif; font-size: 30px; font-weight: bold; line-height: 40px !important; color: #fff;" data-editable="">
                                                To help you decide, take 20% off your order*
                                            </td>
                                            <td class="col" width="230" align="center" valign="middle">
                                                <table cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td align="center" style="font-family: arial,sans-serif; font-size: 16px; color: #ccc;">
                                                            enter code
                                                        </td>
                                                    </tr>
                                                    <!-- %%[IF NOT EMPTY(couponCode) THEN]%% -->
                                                    <tr>
                                                        <td align="center" style="font-family: arial,sans-serif; font-size: 16px; font-weight: bold; color: #fff; padding: 8px 0;">
                                                            %%=v(@couponCode)=%%
                                                        </td>
                                                    </tr>
                                                    <!-- %%[ENDIF]%% -->
                                                    <tr>
                                                        <td align="center" style="font-family: arial,sans-serif; font-size: 16px; color: #ccc; padding-bottom: 20px;">
                                                            at checkout
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <table cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" style="font-family: arial,sans-serif; font-size: 20px; font-weight: bold; background: #84bd00; padding: 0 6px 0 16px;">
            <a href="http://www.crocsaustralia.com.au/on/demandware.store/Sites-crocs_au-Site/en_AU/Home-Show" style="color: #fff; text-decoration: none;">shop now</a>
        </td>
        <td>
            <a href="http://www.crocsaustralia.com.au/on/demandware.store/Sites-crocs_au-Site/en_AU/Home-Show"><img src="http://image.crocs-email.com/lib/fe591570726001747c17/m/1/button_green.png" alt="" style="display: block; border: 0;" /></a>
        </td>
    </tr>
</table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
        </td>
    </tr>
    <!--
     
    <tr>
        <td width="605" align="center">
            <table cellpadding="0" cellspacing="0" class="dashedBorder" width="100%">
    <tr>
        <td style="padding-bottom: 5px;">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="crocs_club" align="left" style="background: #84BD00; padding: 5px;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="border: 4px solid #fff; padding: 20px;">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="555">
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="col" width="215" align="center">
                                                            <img src="" alt="" style="display: block; border: 0;" />
                                                        </td>
                                                        <td class="col message" width="340">
                                                            <table cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="left" style="font-family: arial,sans-serif; font-size: 26px; font-weight: bold; color: #fff; padding-left: 30px;">
                                                                        
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="font-family: arial,sans-serif; font-size: 16px; line-height: 22px !important; color: #fff; padding: 0 0 14px 30px;">
                                                                        
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-left: 30px;">
                                                                        <table cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" style="font-family: arial,sans-serif; font-size: 15px; font-weight: bold; background: #fff; padding: 0 6px 0 14px;">
            <a href="" style="color: #84bd00; text-decoration: none;"></a>
        </td>
        <td>
            <a href=""><img src="http://image.crocs-email.com/lib/fe591570726001747c17/m/1/button_large_white.png" alt="" height="33" style="display: block; border: 0;" /></a>
        </td>
    </tr>
</table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
        </td>
    </tr>-->
    
</table>
                        </td>
                    </tr>

                    <tr>
    <td class="footer" width="605" align="center" style="padding: 20px 0;">

        <table cellpadding="0" cellspacing="0">
            <tr>
                <td width="605" align="center" style="padding: 0 0 8px 0;">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="col" align="center">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        
                                        <td class="item" align="center" valign="top" style="font-family: arial,sans-serif; font-size: 14px; padding: 0 20px;">
                                            <a href="http://www.crocs.com/gift-cards/gift-cards,default,pg.html" style="text-decoration: none; color: #84bd00;">gift cards</a>
                                        </td>
                                        
                                        <td class="item" align="center" valign="top" style="font-family: arial,sans-serif; font-size: 14px; padding: 0 20px;">
                                            <a href="http://www.crocs.com/customer-service/cs-landing,default,pg.html" style="text-decoration: none; color: #84bd00;">check order status</a>
                                        </td>
                                        
                                    </tr>
                                </table>
                            </td>
                            
                            <td class="col" align="center">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        
                                        <td class="item" align="center" valign="top" style="font-family: arial,sans-serif; font-size: 14px; padding: 0 20px;">
                                            <a href="http://www.crocs.com/3" style="text-decoration: none; color: #84bd00;">update profile</a>
                                        </td>
                                        
                                        <td class="item" align="center" valign="top" style="font-family: arial,sans-serif; font-size: 14px; padding: 0 20px;">
                                            <a href="%%unsub_center_url%%" style="text-decoration: none; color: #84bd00;">unusbscribe</a>
                                        </td>
                                        
                                    </tr>
                                </table>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr>
                <td width="605" align="center" style="padding: 8px 0 0 0;">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="col" align="center">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        
                                        <td class="item" align="center" valign="middle" style="font-family: arial,sans-serif; font-size: 14px; padding: 0 20px;">
                                            <a href="http://www.crocs.com/on/demandware.store/Sites-crocs_us-Site/default/CustomerService-ContactUs" style="text-decoration: none; color: #84bd00;">email customer service</a>
                                        </td>
                                        
                                        <td class="item" align="center" valign="middle" style="font-family: arial,sans-serif; font-size: 14px; padding: 0 20px;">
                                            <a href="tel:18663063179" style="text-decoration: none; color: #84bd00;">or call 1-866-306-3179</a>
                                        </td>
                                        
                                    </tr>
                                </table>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            
        </table>
    </td>
</tr>

                    
                        <tr>
    <td class="social" width="605" align="center" style="padding: 10px 0;">
        <table cellpadding="0" cellspacing="0">
            <tr>
                
                <td class="item" align="center" style="font-family: arial,sans-serif; font-size: 16px; font-weight: bold; padding: 0 5px;">
                    <a href="https://www.facebook.com/Crocs" style="text-decoration: none; color: #fff;"><img src="http://image.crocs-email.com/lib/fe591570726001747c17/m/1/global_facebook.png" width="32" height="32" alt="facebook" style="display: block; border: 0;" /></a>
                </td>
                
                <td class="item" align="center" style="font-family: arial,sans-serif; font-size: 16px; font-weight: bold; padding: 0 5px;">
                    <a href="https://twitter.com/crocs" style="text-decoration: none; color: #fff;"><img src="http://image.crocs-email.com/lib/fe591570726001747c17/m/1/global_twitter.png" width="32" height="32" alt="twitter" style="display: block; border: 0;" /></a>
                </td>
                
                <td class="item" align="center" style="font-family: arial,sans-serif; font-size: 16px; font-weight: bold; padding: 0 5px;">
                    <a href="http://www.pinterest.com/crocs/" style="text-decoration: none; color: #fff;"><img src="http://image.crocs-email.com/lib/fe591570726001747c17/m/1/Footer_Pinterest.gif" width="32" height="32" alt="pinterest" style="display: block; border: 0;" /></a>
                </td>
                
                <td class="item" align="center" style="font-family: arial,sans-serif; font-size: 16px; font-weight: bold; padding: 0 5px;">
                    <a href="http://www.youtube.com/crocs" style="text-decoration: none; color: #fff;"><img src="http://image.crocs-email.com/lib/fe591570726001747c17/m/1/Footer_Youtube.gif" width="32" height="32" alt="youtube" style="display: block; border: 0;" /></a>
                </td>
                
            </tr>
        </table>
    </td>
</tr>
                    

                    <tr>
    <td class="disclaimer" width="605" align="center">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" style="font-family: arial,sans-serif; font-size: 10px; line-height: 16px !important; color: #333333; padding: 10px 14px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget suscipit neque. Fusce aliquam libero sapien, quis adipiscing libero malesuada at. Phasellus dictum scelerisque mi, consequat malesuada orci imperdiet non. Nam vel nulla at dolor molestie blandit. Duis eget dolor sem. Aliquam vitae pharetra neque, nec mattis quam. Praesent et blandit lorem. Phasellus vestibulum varius sem sed ornare. Praesent quis justo eu erat commodo convallis vel at neque. Proin vitae eleifend tellus. Morbi sem lacus, pellentesque quis justo at, vestibulum vestibulum lectus. Aenean et vestibulum turpis. Nulla id dictum mauris. Morbi odio lectus, gravida ut accumsan et, pulvinar facilisis nisl. Nam vestibulum, augue eu lobortis mollis, augue turpis aliquet odio, ut pretium turpis ante vitae nisl.
                </td>
            </tr>
        </table>
    </td>
</tr>

                    <tr>
                        <td class="address" width="605" align="center" style="font-family: arial,sans-serif; font-size: 10px; line-height: 16px !important; color: #333333; padding: 10px 0 20px 0;">
                            %%member_busname%% | %%member_addr%% | %%member_city%%, %%member_state%% %%member_postalcode%%
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Exact Target tracking code -->
    <custom name="opencounter" type="tracking">
</body>
</html>
